[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-telegram-bot = "*"
pillow = "==8.1.1"
requests = "*"
numpy = "*"
numba = "*"
gunicorn = "*"
Flask = "*"

[requires]
python_version = "3.7"
