[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-telegram-bot = "*"
flask = "*"
requests = "*"
pillow = "*"
numpy = "*"
numba = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
